
#container{
    width: 252px;
    margin: auto;
}

#mostrador{
    margin-top: 40px;
    height: 80px;
}

#mostrador p{
    float: left;
    margin-right: 10px;
}

.espaco{
    height: 60px;
    width: 80px;
    border: 2px solid #000;
    float: left;
    text-align: center;
    padding-top: 20px;
}